<!DOCTYPE html>
<html>

<head>
      {% load static %}
    <title></title>
    <style type="text/css">
      .card{
        /*border:2px solid black !important;*/
        border-radius: 30px !important;
        box-shadow: 10px 10px 5px 1px;
      }
      .card>img{
        height: 300px;
        width: 300px;
        justify-content: center;
        margin-left: 20px;
      }
      body{
        padding-top:20px;
      }

    </style>
</head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card">

{#                    <img class="card-img-top" src="{% static 'dustbinavg.png' %}" alt="Card image cap">#}
                    <div class="card-body">
                        <h5 class="card-title text-center font-weight-bold">{{ canid }}</h5>
                        <p class="text-center ">{{ ip }}</p>
                    </div>
                    <ul class="list-group list-group-flush">

                            {% if status == '2' %}
                                 <li class="list-group-item" style="color: red" >Status:
                            Dirty Sensor
                            {% elif status == '0' %}
                                <li class="list-group-item"  style="color:green;" >Status:
                            Closed
                        {% endif %}

                        </li>
                        <li class="list-group-item " >Percentage:
                            {% if level <= 0.3 %}
                            <span style="color: green">{{ level }}</span>
                            {% elif level >= 0.3 and level <= 0.9  %}
                            <span style="color: orange">{{ level }}</span>
                            {% else %}
                            <span style="color: red">{{ level }}</span>
                        {% endif %}
                        </li>
                    <li class="list-group-item">Last Refreshed : {{ date }}</li>
                    </ul>
                    <div class="card-body">
                        <button class="map btn-success" onclick="window.location.href='/location/?ip={{ ip }}'">View Map</button>
                        <button class="Details btn-primary float-right" onclick="window.location.href='/detail'">View Details</button>
                    </div>

                </div>
            </div>
        <div class="col-md-4">
                <div class="card">
{#                    <img class="card-img-top" src="dustbinavg.png" alt="Card image cap">#}
                    <div class="card-body">
                        <h5 class="card-title text-center">Dummy can 1</h5>
                        <p class="text-center">192.68.1.1</p>
                    </div>
                     <ul class="list-group list-group-flush">
                        <li class="list-group-item" style="color:green;"  >Status:  {% if status == '2' %}
                            Dirty Sensor
                            {% elif status == '0' %}
                            Closed
                        {% endif %}

                        </li>
                        <li class="list-group-item"   >Percentage:
                        {% if level <= 0.3 %}
                            <span style="color: green">{{ level }}</span>
                            {% elif level >= 0.3 and level <= 0.9  %}
                            <span style="color: orange">{{ level }}</span>
                            {% else %}
                            <span style="color: red">{{ level }}</span>
                        {% endif %}
                        </li>
                    <li class="list-group-item">Last Refreshed : {{ date }}</li>
                    </ul>
                    <div class="card-body">
{#                        <button class="map btn-success">View Map</button>#}
                        <button class="Details btn-primary float-right">View Details</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
{#                    <img class="card-img-top" src="full.png" alt="Card image cap">#}
                    <div class="card-body">
                        <h5 class="card-title text-center">Dummy can 2</h5>
                        <p class="text-center">192.68.1.1</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"  style="color:green;" >Status:  {% if status == '2' %}
                            Dirty Sensor
                            {% elif status == '0' %}
                            Closed
                        {% endif %}

                        </li>
                        <li class="list-group-item" style="text-blue">Percentage:
                        {% if level <= 0.3 %}
                            <span style="color: green">{{ level }}</span>
                            {% elif level >= 0.3 and level <= 0.9  %}
                            <span style="color: orange">{{ level }}</span>
                            {% else %}
                            <span style="color: red">{{ level }}</span>
                        {% endif %}
                        </li>
                    <li class="list-group-item">Last Refreshed : {{ date }}</li>
                    </ul>
                    <div class="card-body">
{#                        <button class="map btn-success">View Map</button>#}
                        <button class="Details btn-primary float-right">View Details</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>